* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: linear-gradient(265deg, #bb0e86, #16cfb5)
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  width: 100%;
  margin: 2rem 0;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

form,
.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-input,
.todo-btn {
  padding: 0.4rem;
  border: none;
  margin: 2rem 0;
  outline: none;
}

.todo-input {
  min-width: 365px;
  max-width: 95vw;
}

.todo-btn {
  background: #ef3fa7;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease;
}

.todo-btn:hover {
  background: #fff;
  color: #ef3fa7;
}

.todo-list {
  list-style: none;
  min-width: 500px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  font-size: 1.3rem;
  margin: 0.4rem;
  transition: 0.5s ease;
}

.todo li {
  flex: 1;
}

.todo-item {
  padding: 0 0.4rem;
}

.completeBtn,
.fallBtn {
  padding: 0.6rem 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.completeBtn svg,
.fallBtn svg {
  pointer-events: none;
}

.fallBtn {
  background: red;
  color: #fff;
}

.completeBtn {
  background: #3fef3f;
  color: #fff;
}

.complete {
  text-decoration: line-through;
  opacity: 0.3;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-todo {
  border: none;
  padding: 0.4rem;
  outline: none;
  cursor: pointer;
  width: 12vw;
}

select {
  padding: 0.3rem;
}

.select {
  position: relative;
  margin: 0.3rem;
  cursor: pointer;
  overflow: hidden;
}

.select::after {
  content: '\25BC';
  background: #ef3fa7;
  color: #fff;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7rem;
  pointer-events: none;
  transition: all 0.5s ease;
}

.select:hover::after {
  background: #fff;
  color: #ef3fa7;
}

@media screen and (max-width:600px) {
  form {
    width: 90vw;
  }

  .todo-input {
    min-width: 60vw;
    max-width: 95vw;
  }

  .filter-todo {
    flex: 2;
    min-width: 30vw;
  }

  .todo {
    max-width: 95vw;
  }
}